.shipping-form {
    margin: 30px 150px;
}

.shipping-form input {
    display: block;
    padding: 5px;
    margin: 0px auto;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    width: 300px;
}

.shipping-form button {
    display: block;
    margin-top: 10px;
    width: 300px;
    text-align: center;
}

.error {
    color: red;
}